.table-responsive2 { width:100%; max-width:100%; overflow-x:scroll;}

body {
	background-color: #ACF;
}
.pager2 { margin:0 !important; }
body { margin-top: 30px }
textarea {resize: none;}

table.table.table-bordered > tbody > tr:first-child > th { border-top: 3px solid #aaa !important }
table.table.table-bordered > tbody > tr > th.table-bordered-top								{ border-top: 3px solid #aaa !important }
table.table.table-bordered > tbody > tr > th.table-bordered-left,td.table-bordered-left		{ border-left: 3px solid #aaa !important }
table.table.table-bordered > tbody > tr > th.table-bordered-right,td.table-bordered-right 	{ border-right: 3px solid #aaa !important}
table.table.table-centered {
	text-align: center !important;
}

.table-centered td, .table-centered th {
   text-align: center;
}

.vertical-text {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	margin-top: 40px;
}

.blue {
	color: blue;
}

.orange {
	color: orange;
}

.green {
	color: green;
}

.grey {
	color: grey;
}

.red {
	color: red;
}

.fixed-container {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
