{% load staticfiles %}
<html ng-app="SarpritApp">
	<head>
		<title> SARPRiT </title>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
		<script type="text/javascript" src="{% static 'lib/angularjs/angular.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'src/js/sarprit.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<div class="well">
				<h1><center>Implementation of Subjectivity and Clues Classifications in Sentiment Analysis of Reviews on Philippine Restaurants in Twitter Using Multinomial Naive Bayes and Support Vector Classifiers</center></h1>
			</div>
		</div>
		<div class="container">
			<ul class="nav nav-tabs" ng-init="nav1 = 1">
				<li role="presentation" ng-class="{'active': nav1 == 1}" ng-model="nav1" ng-click="nav1 = 1"><a href="#">Whole Review</a> </li>
				<li role="presentation" ng-class="{'active': nav1 == 2}" ng-model="nav1" ng-click="nav1 = 2"><a href="#">Per Sentence</a></li>
			</ul>
			<div class="well" ng-controller="SystemCtrl as system" ng-show="nav1 == 1">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="review in system.reviews | orderBy: '-id'">
						{[ review.to_str ]} <br/>
						<small style="color:#999; padding-left: 20px"> by {[ review.author ]} </small>
					</li>
				</ul>
			</div>
			<div class="well" ng-controller="SystemCtrl as system" ng-show="nav1 == 2">
				<ul class="nav nav-tabs" ng-init="nav2 = true">
					<li role="presentation" ng-class="{'active': nav2 == true}" ng-click="nav2 = true; nav3 = 'f'; nav4 = 5" scope="" onload=""><a href="#">Subjective</a> </li>
					<li role="presentation" ng-class="{'active': nav2 == false}" ng-click="nav2 = false; nav3 = ''; nav4 = ''"><a href="#">Objective</a></li>
				</ul>
				<ul class="nav nav-tabs" ng-init="nav3 = 'f'" ng-show="nav2">
					<li role="presentation" ng-class="{'active': nav3 == 'f'}" ng-click="nav3 = 'f'"><a href="#">Functional</a></li>
					<li role="presentation" ng-class="{'active': nav3 == 'h'}" ng-click="nav3 = 'h'"><a href="#">Humanic</a></li>
					<li role="presentation" ng-class="{'active': nav3 == 'm'}" ng-click="nav3 = 'm'"><a href="#">Mechanic</a></li>
					<li role="presentation" ng-class="{'active': nav3 == 'g'}" ng-click="nav3 = 'g'"><a href="#">General</a></li>
				</ul>
				<div class="row">
					<div class="col-md-6">
						<div class="btn-group btn-group-justified" ng-show="nav2">
							<div class="btn-group" ng-init="nav4 = 5">
								<button type="button" class="btn btn-lg btn-default" ng-click="nav4 = 1"> <img class="img-responsive" ng-src="{[ nav4 >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-lg btn-default" ng-click="nav4 = 2"> <img class="img-responsive" ng-src="{[ nav4 >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-lg btn-default" ng-click="nav4 = 3"> <img class="img-responsive" ng-src="{[ nav4 >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-lg btn-default" ng-click="nav4 = 4"> <img class="img-responsive" ng-src="{[ nav4 >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-lg btn-default" ng-click="nav4 = 5"> <img class="img-responsive" ng-src="{[ nav4 >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
							</div>
						</div>
					</div>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="sentence in system.sentences | orderBy: '-id' | filter: {subjective: nav2, clue: nav3, rating: nav4}">
						{[ sentence.to_str ]} <br/>
						<small style="color:#999; padding-left: 20px"> by {[ sentence.author ]} </small>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
