{% load staticfiles %}
<html ng-app="SarpritApp">
	<head>
		<title> SARPRiT </title>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
		<script type="text/javascript" src="{% static 'lib/angularjs/angular.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'src/js/sarprit.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<div class="col-md-6">
				<div class="well" ng-controller="SystemCtrl as system">
					<h1>Training Data</h1>
					<ul class="list-group">
						{% for review in reviews %}
							<li class="list-group-item">{{ review }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well" ng-controller="TwitterCtrl as twitter">
					<h1>Twittter</h1>
					<ul class="list-group">
						<li class="list-group-item">Get data from twitter via beautifulsoup</li>
						<li class="list-group-item">HTML Parsing</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>