{% load staticfiles %}
<html ng-app="SarpritApp">
<head>
	<title>
		*Survey | SARPRiT
	</title>

	<script type="text/javascript" src="{% static 'lib/jquery/jquery-1.11.1.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
	<script type="text/javascript" src="{% static 'lib/bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"> </script>
	<script type="text/javascript" src="{% static 'lib/angularjs/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'src/js/sarprit.js' %}"></script>

</head>
<body>
	<div class="col-md-offset-2 col-md-8">
		<form method="post" action="/2/" ng-controller="SurveyCtrl as survey"> {% csrf_token %} 
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								<b>Step 1</b>
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">					
									<div class="well"> <b>Instructions:</b> Input at least 2 reviews for Philippine Restaurants.</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #1 </label>
										<input type="text" class="form-control" placeholder="Restaurant Name (optional)" ng-model="survey.name1">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Review" ng-model="survey.review1"></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #2 </label>
										<input type="text" class="form-control" placeholder="Restaurant Name (optional)" ng-model="survey.name2">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Review" ng-model="survey.review2"></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #3 </label>
										<input type="text" class="form-control" placeholder="Restaurant Name (optional)" ng-model="survey.name3">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Review" ng-model="survey.review3"></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #4 </label>
										<input type="text" class="form-control" placeholder="Restaurant Name (optional)" ng-model="survey.name4">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Review" ng-model="survey.review4"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<ul class="pager pager2">
								<li class="next"><a class="acc-toggler disabled" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" ng-show="survey.review1 && survey.review2" ng-click="splitReviews()">Next &rarr;</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
								<b>Step 2</b>
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">					
									<div class="well"> <b>Instructions:</b> Check if the each review is correctly splitted by sentence and hashtag.</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #1 </label>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" value="Sarap talaga ng sisig!">
										<input type="text" class="form-control" value="Kaya nga lang pagkalabas mo, sisig ka na rin!">
										<input type="text" class="form-control" value="#sisigLord">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #2 </label>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" ng-repeat="sentence in survey.sentences" value="{[ sentence ]}">
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<ul class="pager pager2">
								<li class="previous"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">&larr; Back</a></li>
								<li class="next"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Next &rarr;</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
								<b>Step 3</b>
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">					
									<div class="well">
										<b>Instructions:</b> Uncheck the checkbox if that sentence is objective. If the sentence is subjective, classify it as
										Functional, Humanic or Mechanic then rate the positivity or negativity of each sentence by clicking on the star.
										<br />(1 Star - Poor, 2 Stars - Bad, 3 Stars - Satisfactory, 4 Stars - Very Satisfactory, 5 Stars - Excellent)
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #1 </label>
									</div>
									<div class="form-group">
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" value="Sarap talaga ng sisig!" disabled>
												<span class="input-group-addon"> <input type="checkbox" checked> </input> </span>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-primary">Functional</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default">Humanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default">Mechanic</button>
												</div>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-warning">star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-warning">star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-warning">star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-warning">star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default">star</button>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" value="Kaya nga lang pagkalabas mo, sisig ka na rin!" disabled>
												<span class="input-group-addon"> <input type="checkbox" checked> </input> </span>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-default">Functional</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default">Humanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-primary">Mechanic</button>
												</div>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-warning">star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default">star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default">star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default">star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default">star</button>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" value="#sisigLord" disabled>
												<span class="input-group-addon"> <input type="checkbox"> </input> </span>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-default" disabled>Functional</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" disabled>Humanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" disabled>Mechanic</button>
												</div>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-default" disabled>star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" disabled>star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" disabled>star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" disabled>star</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" disabled>star</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #2</label>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" value="Punta ulit tayo bukas." disabled>
										<input type="text" class="form-control" value="Pogi talaga ni kuyang waiter!" disabled>
										<input type="text" class="form-control" value="#panalo" disabled>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<ul class="pager pager2">
								<li class="previous"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">&larr; Back</a></li>
								<li class="next"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Next &rarr;</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
								<b>Step 4</b>
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">					
									<div class="well"> <b>Instructions:</b> Input the overall rating for the each review.
										<br />(1 Star - Poor, 2 Stars - Bad, 3 Stars - Satisfactory, 4 Stars - Very Satisfactory, 5 Stars - Excellent)
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #1 </label>
									</div>
									<div class="form-group">
										<div class="well">Sarap talaga ng sisig! Kaya nga lang pagkalabas mo, sisig ka na rin! #sisigLord</div>
										<div class="btn-group btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-warning">star</button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-warning">star</button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default">star</button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default">star</button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default">star</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #2 </label>
									</div>
									<div class="form-group">
										<div class="well">Punta ulit tayo bukas. Pogi talaga ni kuyang waiter! #panalo </div>
										<div class="btn-group btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-warning">star</button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-warning">star</button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-warning">star</button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-warning">star</button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-warning">star</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<ul class="pager pager2">
								<li class="previous"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">&larr; Back</a></li>
								<li class="next"><button class="acc-toggler" type="submit">SUBMIT</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>