{% load staticfiles %}
<html ng-app="SarpritApp">
<head>
	<title>
		*Survey | SARPRiT
	</title>

	<script type="text/javascript" src="{% static 'lib/jquery/jquery-1.11.1.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
	<script type="text/javascript" src="{% static 'lib/bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"> </script>
	<script type="text/javascript" src="{% static 'lib/angularjs/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'src/js/sarprit.js' %}"></script>
	<script type="text/javascript" src="{% static 'src/js/survey.js' %}"></script>

</head>
<body>
	<div class="col-md-offset-1 col-md-10">
		<form method="post" action="/survey/" ng-controller="SurveyCtrl as survey"> {% csrf_token %}
			<div class="well">
				<center>
					<div class="form-inline">
						<h3><b>Section: {{ current_section }}</b></h3> <br />
						<b>Student No. </b>
						<select class="form-control" name="student">
							{% for student in current_section.student_set.all %}
								{% if not student.review_set.all|length %}
									<option>{{ student.student_no.upper }}</option>
								{% endif %}
							{% endfor %}
						</select>

						<input type="hidden" name="namedrop1" ng-value="survey.name1" />
						<input type="hidden" name="namedrop2" ng-value="survey.name2" />
						<input type="hidden" name="namedrop3" ng-value="survey.name3" />
						<input type="hidden" name="namedrop4" ng-value="survey.name4" />

						<input type="hidden" name="overall_sentiment1" ng-value="survey.overallRating1" />
						<input type="hidden" name="overall_sentiment2" ng-value="survey.overallRating2" />
						<input type="hidden" name="overall_sentiment3" ng-value="survey.overallRating3" />
						<input type="hidden" name="overall_sentiment4" ng-value="survey.overallRating4" />

						<span ng-repeat="sentence in survey.sentences1">
							<input type="hidden" name="sentence1[]" ng-value="sentence.value">
							<input type="hidden" name="subjective1[]" ng-value="sentence.subjective">
							<input type="hidden" name="clue1[]" ng-value="sentence.clue">
							<input type="hidden" name="rating1[]" ng-value="sentence.rating">
						</span>

						<span ng-repeat="sentence in survey.sentences2">
							<input type="hidden" name="sentence2[]" ng-value="sentence.value">
							<input type="hidden" name="subjective2[]" ng-value="sentence.subjective">
							<input type="hidden" name="clue2[]" ng-value="sentence.clue">
							<input type="hidden" name="rating2[]" ng-value="sentence.rating">
						</span>

						<span ng-repeat="sentence in survey.sentences3">
							<input type="hidden" name="sentence3[]" ng-value="sentence.value">
							<input type="hidden" name="subjective3[]" ng-value="sentence.subjective">
							<input type="hidden" name="clue3[]" ng-value="sentence.clue">
							<input type="hidden" name="rating3[]" ng-value="sentence.rating">
						</span>

						<span ng-repeat="sentence in survey.sentences4">
							<input type="hidden" name="sentence4[]" ng-value="sentence.value">
							<input type="hidden" name="subjective4[]" ng-value="sentence.subjective">
							<input type="hidden" name="clue4[]" ng-value="sentence.clue">
							<input type="hidden" name="rating4[]" ng-value="sentence.rating">
						</span>
					</div>
				</center>
			</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span data-toggle="collapse" data-parent="#accordion">
								<b>Step 1</b>
							</span>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="well"> <b>Instructions:</b> Input at least <b>2 reviews</b> for Philippine Restaurants in <b>pseudo-tweet</b> form.</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #1 </label>
										<input type="text" class="form-control" placeholder="Restaurant Name (optional)" ng-model="survey.name1">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Review" ng-model="survey.review1"></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> <span style="color:red">*</span> Review #2 </label>
										<input type="text" class="form-control" placeholder="Restaurant Name (optional)" ng-model="survey.name2">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Review" ng-model="survey.review2"></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #3 </label>
										<input type="text" class="form-control" placeholder="Restaurant Name (optional)" ng-model="survey.name3">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Review" ng-model="survey.review3"></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #4 </label>
										<input type="text" class="form-control" placeholder="Restaurant Name (optional)" ng-model="survey.name4">
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Review" ng-model="survey.review4"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<ul class="pager pager2">
								<li class="next"><a class="acc-toggler disabled" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" ng-show="survey.review1 && survey.review2" ng-click="survey.splitReviews()">Next &rarr;</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span data-toggle="collapse" data-parent="#accordion">
								<b>Step 2</b>
							</span>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="well"> <b>Instructions:</b> Check if the each review is correctly splitted by sentence and hashtag. As much as possible, please seperate each by <b>subjectivity, clues, and sentiment</b>.</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #1<b ng-show="survey.name1">: {[ survey.name1 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="input-group" ng-repeat="sentence in survey.sentences1">
											<input type="text" class="form-control" ng-model="sentence.value">
											<span class="btn btn-default input-group-addon" ng-click="survey.sentences1.splice($index, 0, {value: '', subjective: true, rating: 0})">
												<b>+</b>
											</span>
											<span class="btn btn-default input-group-addon" ng-if=" ! $first" ng-click="survey.sentences1.splice($index, 1)">
												<b>-</b>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #2<b ng-show="survey.name2">: {[ survey.name2 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="input-group" ng-repeat="sentence in survey.sentences2">
											<input type="text" class="form-control" ng-model="sentence.value">
											<span class="btn btn-default input-group-addon" ng-click="survey.sentences2.splice($index, 0, {value: '', subjective: true, rating: 0})">
												<b>+</b>
											</span>
											<span class="btn btn-default input-group-addon" ng-if=" ! $first" ng-click="survey.sentences2.splice($index, 1)">
												<b>-</b>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-6" ng-show="survey.sentences3">
									<div class="form-group">
										<label> Review #3<b ng-show="survey.name3">: {[ survey.name3 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="input-group" ng-repeat="sentence in survey.sentences3">
											<input type="text" class="form-control" ng-model="sentence.value">
											<span class="btn btn-default input-group-addon" ng-click="survey.sentences3.splice($index, 0, {value: '', subjective: true, rating: 0})">
												<b>+</b>
											</span>
											<span class="btn btn-default input-group-addon" ng-if=" ! $first" ng-click="survey.sentences3.splice($index, 1)">
												<b>-</b>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-6" ng-show="survey.sentences4">
									<div class="form-group">
										<label> Review #4<b ng-show="survey.name4">: {[ survey.name4 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="input-group" ng-repeat="sentence in survey.sentences4">
											<input type="text" class="form-control" ng-model="sentence.value">
											<span class="btn btn-default input-group-addon" ng-click="survey.sentences4.splice($index, 0, {value: '', subjective: true, rating: 0})">
												<b>+</b>
											</span>
											<span class="btn btn-default input-group-addon" ng-if=" ! $first" ng-click="survey.sentences4.splice($index, 1)">
												<b>-</b>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<ul class="pager pager2">
								<li class="previous"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">&larr; Back</a></li>
								<li class="next"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" ng-show="survey.step2ok()">Next &rarr;</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span data-toggle="collapse" data-parent="#accordion">
								<b>Step 3</b>
							</span>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="well">
										<b>Instructions:</b> <b>Untick the checkbox</b> if that sentence is objective. If the sentence is subjective, classify it as:<br/> <br/>
										<b>Functional</b> (the technical quality of food and service)<br/>
										<b>Humanic</b> (the performance, behavior, and appearance of the employees)<br/>
										<b>Mechanic</b> (the ambience and other design and technical elements)<br/>
										<b>General</b> (all of the above)<br/> <br/>
										Then rate each sentence by clicking on a star:<br /><br />
										1: <b>Poor</b><br/> 2: <b>Bad</b><br/> 3: <b>Satisfactory</b><br/> 4: <b>Very Satisfactory</b><br/> 5: <b>Excellent</b>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #1<b ng-show="survey.name1">: {[ survey.name1 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="form-group" ng-repeat="sentence in survey.sentences1">
											<div class="input-group">
												<input type="text" class="form-control" ng-model="sentence.value" disabled>
												<span class="input-group-addon"> <input type="checkbox" ng-click="survey.removeRatings(sentence)" ng-model="sentence.subjective"> </input> </span>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'f'" ng-class="{'btn-primary': sentence.clue == 'f'}">Functional</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'h'" ng-class="{'btn-primary': sentence.clue == 'h'}">Humanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'm'" ng-class="{'btn-primary': sentence.clue == 'm'}">Mechanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'g'" ng-class="{'btn-primary': sentence.clue == 'g'}">General</button>
												</div>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 1"> <img class="img-responsive" ng-src="{[ sentence.rating >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 2"> <img class="img-responsive" ng-src="{[ sentence.rating >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 3"> <img class="img-responsive" ng-src="{[ sentence.rating >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 4"> <img class="img-responsive" ng-src="{[ sentence.rating >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 5"> <img class="img-responsive" ng-src="{[ sentence.rating >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #2<b ng-show="survey.name2">: {[ survey.name2 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="form-group" ng-repeat="sentence in survey.sentences2">
											<div class="input-group">
												<input type="text" class="form-control" ng-model="sentence.value" disabled>
												<span class="input-group-addon"> <input type="checkbox" ng-click="survey.removeRatings(sentence)" ng-model="sentence.subjective"> </input> </span>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'f'" ng-class="{'btn-primary': sentence.clue == 'f'}">Functional</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'h'" ng-class="{'btn-primary': sentence.clue == 'h'}">Humanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'm'" ng-class="{'btn-primary': sentence.clue == 'm'}">Mechanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'g'" ng-class="{'btn-primary': sentence.clue == 'g'}">General</button>
												</div>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 1"> <img class="img-responsive" ng-src="{[ sentence.rating >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 2"> <img class="img-responsive" ng-src="{[ sentence.rating >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 3"> <img class="img-responsive" ng-src="{[ sentence.rating >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 4"> <img class="img-responsive" ng-src="{[ sentence.rating >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 5"> <img class="img-responsive" ng-src="{[ sentence.rating >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6" ng-show="survey.sentences3">
									<div class="form-group">
										<label> Review #3<b ng-show="survey.name3">: {[ survey.name3 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="form-group" ng-repeat="sentence in survey.sentences3">
											<div class="input-group">
												<input type="text" class="form-control" ng-model="sentence.value" disabled>
												<span class="input-group-addon"> <input type="checkbox" ng-click="survey.removeRatings(sentence)" ng-model="sentence.subjective"> </input> </span>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'f'" ng-class="{'btn-primary': sentence.clue == 'f'}">Functional</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'h'" ng-class="{'btn-primary': sentence.clue == 'h'}">Humanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'm'" ng-class="{'btn-primary': sentence.clue == 'm'}">Mechanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'g'" ng-class="{'btn-primary': sentence.clue == 'g'}">General</button>
												</div>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 1"> <img class="img-responsive" ng-src="{[ sentence.rating >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 2"> <img class="img-responsive" ng-src="{[ sentence.rating >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 3"> <img class="img-responsive" ng-src="{[ sentence.rating >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 4"> <img class="img-responsive" ng-src="{[ sentence.rating >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 5"> <img class="img-responsive" ng-src="{[ sentence.rating >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6" ng-show="survey.sentences4">
									<div class="form-group">
										<label> Review #4<b ng-show="survey.name4">: {[ survey.name4 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="form-group" ng-repeat="sentence in survey.sentences4">
											<div class="input-group">
												<input type="text" class="form-control" ng-model="sentence.value" disabled>
												<span class="input-group-addon"> <input type="checkbox" ng-click="survey.removeRatings(sentence)" ng-model="sentence.subjective"> </input> </span>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'f'" ng-class="{'btn-primary': sentence.clue == 'f'}">Functional</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'h'" ng-class="{'btn-primary': sentence.clue == 'h'}">Humanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'm'" ng-class="{'btn-primary': sentence.clue == 'm'}">Mechanic</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.clue = 'g'" ng-class="{'btn-primary': sentence.clue == 'g'}">General</button>
												</div>
											</div>
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 1"> <img class="img-responsive" ng-src="{[ sentence.rating >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 2"> <img class="img-responsive" ng-src="{[ sentence.rating >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 3"> <img class="img-responsive" ng-src="{[ sentence.rating >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 4"> <img class="img-responsive" ng-src="{[ sentence.rating >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-lg btn-default" ng-disabled="!sentence.subjective" ng-click="sentence.rating = 5"> <img class="img-responsive" ng-src="{[ sentence.rating >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<ul class="pager pager2">
								<li class="previous"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">&larr; Back</a></li>
								<li class="next"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" ng-show="survey.step3ok()">Next &rarr;</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span data-toggle="collapse" data-parent="#accordion">
								<b>Step 4</b>
							</span>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="well"> <b>Instructions:</b> Input the overall rating for the each review.
									<br /><br />
									1: <b>Poor</b><br/> 2: <b>Bad</b><br/> 3: <b>Satisfactory</b><br/> 4: <b>Very Satisfactory</b><br/> 5: <b>Excellent</b>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #1<b ng-show="survey.name1">: {[ survey.name1 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="well"> {[ survey.review1 ]} </div>
										<div class="btn-group btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating1 = 1"> <img class="img-responsive" ng-src="{[ survey.overallRating1 >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating1 = 2">
												<img class="img-responsive" ng-src="{[ survey.overallRating1 >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating1 = 3">
												<img class="img-responsive" ng-src="{[ survey.overallRating1 >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating1 = 4">
												<img class="img-responsive" ng-src="{[ survey.overallRating1 >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating1 = 5">
												<img class="img-responsive" ng-src="{[ survey.overallRating1 >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label> Review #2<b ng-show="survey.name2">: {[ survey.name2 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="well"> {[ survey.review2 ]} </div>
										<div class="btn-group btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating2 = 1">
												<img class="img-responsive" ng-src="{[ survey.overallRating2 >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating2 = 2">
												<img class="img-responsive" ng-src="{[ survey.overallRating2 >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating2 = 3">
												<img class="img-responsive" ng-src="{[ survey.overallRating2 >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating2 = 4">
												<img class="img-responsive" ng-src="{[ survey.overallRating2 >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating2 = 5">
												<img class="img-responsive" ng-src="{[ survey.overallRating2 >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6" ng-show="survey.review3">
									<div class="form-group">
										<label> Review #3<b ng-show="survey.name3">: {[ survey.name3 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="well"> {[ survey.review3 ]} </div>
										<div class="btn-group btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating3 = 1">
												<img class="img-responsive" ng-src="{[ survey.overallRating3 >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating3 = 2">
												<img class="img-responsive" ng-src="{[ survey.overallRating3 >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating3 = 3">
												<img class="img-responsive" ng-src="{[ survey.overallRating3 >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating3 = 4">
												<img class="img-responsive" ng-src="{[ survey.overallRating3 >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating3 = 5">
												<img class="img-responsive" ng-src="{[ survey.overallRating3 >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6" ng-show="survey.review4">
									<div class="form-group">
										<label> Review #4<b ng-show="survey.name4">: {[ survey.name4 ]} </b> </label>
									</div>
									<div class="form-group">
										<div class="well"> {[ survey.review4 ]} </div>
										<div class="btn-group btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating4 = 1">
												<img class="img-responsive" ng-src="{[ survey.overallRating4 >= 1? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating4 = 2">
												<img class="img-responsive" ng-src="{[ survey.overallRating4 >= 2? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating4 = 3">
												<img class="img-responsive" ng-src="{[ survey.overallRating4 >= 3? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating4 = 4">
												<img class="img-responsive" ng-src="{[ survey.overallRating4 >= 4? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-lg btn-default" ng-click="survey.overallRating4 = 5">
												<img class="img-responsive" ng-src="{[ survey.overallRating4 >= 5? '{% static 'src/img/yellowStar.jpg' %}' : '{% static 'src/img/grayStar.jpg' %}']}"></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<ul class="pager pager2">
								<li class="previous"><a class="acc-toggler" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">&larr; Back</a></li>
								<li class="next"><a class="acc-toggler" id="survey-submit" type="submit" data-toggle="collapse" data-parent="#accordion" ng-show="survey.step4ok()" href="#Mavs">Submit</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
