{% load staticfiles %}
<html ng-app="SarpritApp">
	<head>
		<title> SARPRiT </title>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
		<script type="text/javascript" src="{% static 'lib/angularjs/angular.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'src/js/sarprit.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<ul class="nav nav-tabs" ng-init="nav1 = 1">
				<li role="presentation" ng-class="{'active': nav1 == 1}" ng-model="nav1" ng-click="nav1 = 1"><a href="#">Whole Review</a> </li>
				<li role="presentation" ng-class="{'active': nav1 == 2}" ng-model="nav1" ng-click="nav1 = 2"><a href="#">Per Sentence</a></li>
			</ul>
			<div class="well" ng-controller="SystemCtrl as system" ng-show="nav1 == 1">
				<ul class="list-group">
					<span ng-repeat="section in system.data">
						<span ng-repeat="student in section.students">
							<li class="list-group-item" ng-repeat="review in student.reviews">
								{[ review.to_str ]} <br/>
								<small style="color:#999; padding-left: 20px"> by {[ student.student_no ]} </small>
							</li>
						</span>
					</span>
				</ul>
			</div>
			<div class="well" ng-controller="SystemCtrl as system" ng-show="nav1 == 2">
				<ul class="nav nav-tabs" ng-init="nav2 = 1">
					<li role="presentation" ng-class="{'active': nav2 == 1}" ng-model="nav2" ng-click="nav2 = 1"><a href="#">Subjective</a> </li>
					<li role="presentation" ng-class="{'active': nav2 == 2}" ng-model="nav2" ng-click="nav2 = 2"><a href="#">Objective</a></li>
				</ul>
				<ul class="list-group">
					<span ng-repeat="section in system.data">
						<span ng-repeat="student in section.students">
							<span ng-repeat="review in student.reviews">
								<li class="list-group-item" ng-repeat="sentence in review.sentences">
									{[ sentence.sentence ]} <br/>
									<small style="color:#999; padding-left: 20px"> by {[ student.student_no ]} </small>
								</li>
							</span>
						</span>
					</span>
				</ul>
			</div>
		</div>
	</body>
</html>
