{% load staticfiles %}
<html ng-app="SarpritApp">
	<head>
		<title> SARPRiT </title>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="well">
				<h1><center>Implementation of Subjectivity and Clues Classifications in Sentiment Analysis of Reviews on Philippine Restaurants in Twitter Using Multinomial Naive Bayes and Support Vector Classifiers</center></h1>
			</div>
		</div>
		<div class="container">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Mutual Information
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								<th colspan="2" rowspan="2" class="table-bordered-left"> <center> Subjectivity Classification </center> </th>
								<th colspan="4" rowspan="2" class="table-bordered-left"> <center> Clues Classification </center> </th>
								<th colspan="12" class="table-bordered-left"> <center> Sentiment Analysis </center> </th>
								<th colspan="3" rowspan="2" class="table-bordered-left"> <center> Overall Sentiment Analysis </center> </th>
							</tr>
							<tr>
								<th colspan="3" class="table-bordered-left table-bordered-top"> <center> Functional </center> </th>
								<th colspan="3" class="table-bordered-left table-bordered-top"> <center> Humanic </center> </th>
								<th colspan="3" class="table-bordered-left table-bordered-top"> <center> Mechanic </center> </th>
								<th colspan="3" class="table-bordered-left table-bordered-top"> <center> General </center> </th>
							</tr>
							<tr>
								<th class="success table-bordered-left"> <center> Subjective </center> </th>
								<th class="danger"> <center> Objective </center> </th>
								<th class="table-bordered-left info"> <center> Functional </center> </th>
								<th class="warning"> <center> Humanic </center> </th>
								<th class="danger"> <center> Mechanic </center> </th>
								<th class="success"> <center> General </center> </th>
								<th class="table-bordered-left danger"> <center> Negative </center> </th>
								<th class="warning"> <center> Neutral </center> </th>
								<th class="success"> <center> Positive </center> </th>
								<th class="table-bordered-left danger"> <center> Negative </center> </th>
								<th class="warning"> <center> Neutral </center> </th>
								<th class="success"> <center> Positive </center> </th>
								<th class="table-bordered-left danger"> <center> Negative </center> </th>
								<th class="warning"> <center> Neutral </center> </th>
								<th class="success"> <center> Positive </center> </th>
								<th class="table-bordered-left danger"> <center> Negative </center> </th>
								<th class="warning"> <center> Neutral </center> </th>
								<th class="success"> <center> Positive </center> </th>
								<th class="table-bordered-left danger"> <center> Negative </center> </th>
								<th class="warning"> <center> Neutral </center> </th>
								<th class="success"> <center> Positive </center> </th>
							</tr>
							{% for tr in mutual_information.table_data %}
								<tr>
									{% for td in tr %}
										<td class="
											{% if forloop.counter0 == 0 %}		success table-bordered-left
											{% elif forloop.counter0 == 1 %}	danger
											{% elif forloop.counter0 == 2 %}	info table-bordered-left
											{% elif forloop.counter0 == 3 %}	warning
											{% elif forloop.counter0 == 4 %}	danger
											{% elif forloop.counter0 == 5 %}	success
											{% elif forloop.counter0 == 6 %}	danger table-bordered-left
											{% elif forloop.counter0 == 7 %}	warning
											{% elif forloop.counter0 == 8 %}	success
											{% elif forloop.counter0 == 9 %}	danger table-bordered-left
											{% elif forloop.counter0 == 10 %}	warning
											{% elif forloop.counter0 == 11 %}	success
											{% elif forloop.counter0 == 12 %}	danger table-bordered-left
											{% elif forloop.counter0 == 13 %}	warning
											{% elif forloop.counter0 == 14 %}	success
											{% elif forloop.counter0 == 15 %}	danger table-bordered-left
											{% elif forloop.counter0 == 16 %}	warning
											{% elif forloop.counter0 == 17 %}	success
											{% elif forloop.counter0 == 18 %}	danger table-bordered-left
											{% elif forloop.counter0 == 19 %}	warning
											{% elif forloop.counter0 == 20 %}	success
											{% endif %}
										">
											{% if td %}
												<small> <small> <small> <center> {{ td.0 | lower }} ({{ td.1 | floatformat:4 }}) </center> </small> </small> </small>
											{% else %}
												&nbsp;
											{% endif %}
										</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Subjectivity Classification
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier1.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier1.data %}
								<tr class="{% if target == 0 %} success {% else %} danger {% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Clues Classification (<b>Blue:</b> Functional, <b>Yellow:</b> Humanic, <b>Red:</b> Mechanic, <b>Green:</b> General)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier2.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier2.data %}
								<tr class="
									{% if target == 0 %}
										info
									{% elif target == 1 %}
										warning
									{% elif target == 2 %}
										danger
									{% elif target == 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Sentiment Analysis <b>[Functional]</b> (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier3a.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier3a.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Sentiment Analysis <b>[Humanic]</b> (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier3b.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier3b.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Sentiment Analysis <b>[Mechanic]</b> (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier3c.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier3c.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Sentiment Analysis <b>[General]</b> (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier3d.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier3d.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Overall Sentiment Analysis (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier4.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier4.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
