{% load staticfiles %}
<html ng-app="SarpritApp">
	<head>
		<title> SARPRiT </title>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
		<script type="text/javascript" src="{% static 'lib/angularjs/angular.min.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<div class="well">
				<h1><center>Implementation of Subjectivity and Clues Classifications in Sentiment Analysis of Reviews on Philippine Restaurants in Twitter Using Multinomial Naive Bayes and Support Vector Classifiers</center></h1>
			</div>
		</div>
		<div class="container">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Subjectivity Classification
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier1.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier1.data %}
								<tr class="{% if target == 0 %} success {% else %} danger {% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Clues Classification (<b>Blue:</b> Functional, <b>Yellow:</b> Humanic, <b>Red:</b> Mechanic, <b>Green:</b> General)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier2.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier2.data %}
								<tr class="
									{% if target == 0 %}
										info
									{% elif target == 1 %}
										warning
									{% elif target == 2 %}
										danger
									{% elif target == 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Sentiment Analysis <b>[Functional]</b> (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier3a.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier3a.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Sentiment Analysis <b>[Humanic]</b> (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier3b.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier3b.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Sentiment Analysis <b>[Mechanic]</b> (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier3c.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier3c.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Sentiment Analysis <b>[General]</b> (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier3d.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier3d.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">
						Overall Sentiment Analysis (<b>Green:</b> Positive, <b>White:</b> Neutral, <b>Red:</b> Negative)
					</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive2">
						<table class="table table-bordered">
							<tr>
								{% for feature_name in classifier4.feature_names %}
									<th> <small> <small> <small>{{ feature_name }} </small> </small> </small> </th>
								{% endfor %}
							</tr>
							{% for features, target in classifier4.data %}
								<tr class="
									{% if target < 3 %}
										danger
									{% elif target == 3 %}
										default
									{% elif target > 3 %}
										success
									{% endif %}">
									{% for feature in features %}
										<td> {% if feature %} <small> <small> <small> {{ feature | floatformat:2 }} </small> </small> </small> {% endif %} </td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
