{% load staticfiles %}
{% load filters %}

<html ng-app="PresentationApp">
	<head>
		<title> SARPRiT </title>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
		<script type="text/javascript" src="{% static 'lib/angularjs/angular.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'src/js/presentation.js' %}"></script>
	</head>
	<body ng-controller="Presentation1Ctrl as Presentation"
			ng-init="Presentation.tables = {{tables}}; t=0; i=0; j=0;">
		<div class="container">
			<div class="well">
				<h1><center>Implementation of Subjectivity and Clues Classifications in Sentiment Analysis of Reviews on Philippine Restaurants in Twitter Using Multinomial Naive Bayes and Support Vector Classifiers</center></h1>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body">
							{% for table in tables %}
								<h1> {{table.name}} </h1>
								<table class="table table-bordered table-centered">
									<thead>
										<tr>
											<th colspan="2" rowspan="2">
												&nbsp;
											</th>
											<th colspan="5">
												Actual
											</th>
										</tr>
										<tr>
											<th> Positive </th>
											<th> Neutral </th>
											<th> Negative </th>
										</tr>
									</thead>
									<tbody>
										{% for row in table.data %}
											<tr>
											{% if forloop.first %}
												<td rowspan="3" width="60px">
													<div class="vertical-text">
														<b>
															Predicted
														</b>
													</div>
												</td>
											{% endif %}
											{% if forloop.counter0 == 0 %}
												<td>
													<b>Positive</b>
												</td>
											{% elif forloop.counter0 == 1 %}
												<td>
													<b>Neutral</b>
												</td>
											{% else %}
												<td>
													<b>Negative</b>
												</td>
											{% endif %}
											{% for column in row %}
												<td>
													<button ng-class="{
													'btn btn-block': 'true',
													'btn-success': {% if forloop.counter0 == forloop.parentloop.counter0 %}
														true {% else %} false {% endif %} &amp;&amp;
														!(
														t == {{forloop.parentloop.parentloop.counter0}} &amp;&amp;
														i == {{forloop.parentloop.counter0}} &amp;&amp;
														j == {{forloop.counter0}}
														),
													'btn-primary':
																t == {{forloop.parentloop.parentloop.counter0}} &amp;&amp;
																i == {{forloop.parentloop.counter0}} &amp;&amp;
																j == {{forloop.counter0}},
													'btn-default': {% if forloop.counter0 == forloop.parentloop.counter0 %}
														false {% else %} true {% endif %} &amp;&amp;
														!(
														t == {{forloop.parentloop.parentloop.counter0}} &amp;&amp;
														i == {{forloop.parentloop.counter0}} &amp;&amp;
														j == {{forloop.counter0}}
														),
												}
												"
												ng-click="	t = {{forloop.parentloop.parentloop.counter0}};
															i = {{forloop.parentloop.counter0}};
															j = {{forloop.counter0}};
															">
													{{ column|length }}
													</button>
												</td>
											{% endfor %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body fixed-container">
							<h1>
								{[ Presentation.tables[t].name ]}
							</h1>
							<table>
								<tr>
									<td>
										Actually:
									</td>
									<td>
										<b class="{[ Presentation.color[j] ]}">
											{[ Presentation.sentiment[j] ]}
										</b>
									</td>
								</tr>
								<tr>
									<td>
										Predicted:
									</td>
									<td>
										<b class="{[ Presentation.color[i] ]}">
											{[ Presentation.sentiment[i] ]}
										</b>
									</td>
								</tr>
							</table>
							<ul class="list-group">
								<li class="list-group-item"
									ng-repeat="data in Presentation.tables[t].data[i][j] track by $index">
									{[ data ]}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
