{% load staticfiles %}
{% load filters %}

<html ng-app="SarpritApp">
	<head>
		<title> SARPRiT </title>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css' %}">
		<script type="text/javascript" src="{% static 'lib/angularjs/angular.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'src/js/sarprit.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<div class="well">
				<h1><center>Implementation of Subjectivity and Clues Classifications in Sentiment Analysis of Reviews on Philippine Restaurants in Twitter Using Multinomial Naive Bayes and Support Vector Classifiers</center></h1>
			</div>
		</div>
		<div ng-controller="ReviewsCtrl as Review" class="container" ng-init="reversed = true; sort = 'id'">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="span pull-right">
						<b>Results: {[ (Review.reviews | filter: search).length ]} </b>
					</div>
					<input type="text" class="form-control" placeholder="Search" ng-model="search">
					<table class="table">
						<thead>
							<tr>
								<th width="5%">
									<a href="#" ng-click="sort = 'id'; reversed = ! reversed">
										ID
									</a>
									<small> {[ sort =='id'? (reversed ? '▲' : '▼') : '' ]} </small>
								</th>
								<th width="60%">
									<a href="#" ng-click="sort = 'to_str'; reversed = ! reversed">
										Review
									</a>
									<small> {[ sort =='to_str'? (reversed ? '▲' : '▼') : '' ]} </small>
								</th>
								<th width="10%">
									<a href="#" ng-click="sort = 'overall_sentiment'; reversed = ! reversed">
										Rating
									</a>
									<small> {[ sort =='overall_sentiment'? (reversed ? '▲' : '▼') : '' ]} </small>
								</th>
								<th width="25%">
									<a href="#" ng-click="sort = 'flag'; reversed = ! reversed">
										Flag
									</a>
									<small> {[ sort =='flag'? (reversed ? '▲' : '▼') : '' ]} </small>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="review in Review.reviews | filter: search | orderBy: sort: reversed">
								<td> {[ review.id ]} </td>
								<td> {[ review.to_str ]} </td>
								<td> <img src="{% static 'src/img/yellowStar.jpg' %}" ng-repeat="i in Review.range(review.overall_sentiment) track by $index" style="width: 20px; height: 20px"><img src="{% static 'src/img/grayStar.jpg' %}" ng-repeat="i in Review.range(5-review.overall_sentiment) track by $index" style="width: 20px; height: 20px">
								<td>
									<div class="btn-group" role="group">
										<button class="btn" ng-class="review.flag == 0? 'btn-primary': 'btn-default'" ng-click="review.flag = 0; Review.save(review)">Discarded</button> <button class="btn" ng-class="review.flag == 1? 'btn-primary': 'btn-default'" ng-click="review.flag = 1; Review.save(review)">Training</button> <button class="btn" ng-class="review.flag == 2? 'btn-primary': 'btn-default'" ng-click="review.flag = 2; Review.save(review)">Testing</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
